[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-debug-toolbar = "*"
twisted = "*"
channels = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "==19.3b0"

[requires]
python_version = "3.9"
