{% extends 'base.html' %}
{% load customtags %}

{% block title %}
    Подписчики {{ request.resolver_match.kwargs.username }} | Django Articles
{% endblock title %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock header %}

{% block content %}
    {% for object in object_list %}
        <div class="user-list">
            <a href="{{ object.user.get_url }}">
                <img src="{{ object.user.image|user_img }}" />
            </a>
            <a href="{{ object.user.get_url }}">@{{ object.user }}</a>
        </div>
    {% endfor %}
{% endblock content %}