{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link href="{% static 'css/profile.css' %}" rel="stylesheet" />
{% endblock css %}
{% load customtags %}

{% block title %}
	{{ object }} | Django articles
{% endblock title %}

{% block content %}

<div class="profile">
	<div class="row">
		<div class="profile-info">
			<img src="{{ object.image|user_img }}" />
			<a href="{{ object.get_url }}" class="profile-stats">@{{ object }}</a>
			<ul class="profile-stats">
				<li><a href="{{ object.get_followers_url }}">{{ object.followers.count }} followers</a></li>
				<li><a href="{{ object.get_following_url }}">{{ object.following.count }} following</a></li>
				<li>{{ object.posts }} posts</li>
			</ul>
		</div>
		<div class="profile-data">
			{% if request.user == object %}
            <form method="post" id="post_create" class="mb-4">
				{% csrf_token %}
				<div class="input-group mb-3">
					<textarea name="text" cols="40" rows="10" class="form-control" required="" id="id_text"></textarea>
					<button type="submit" class="btn btn-secondary">Написать</button>
				</div>
            </form>
			{% endif %}
			{% include "articles/includes/post.html" %}
		</div>
	</div>
</div>
{% endblock content %}