{% extends 'base.html' %}
{% load static %}
{% block title %}
    Регистрация
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-8 col-md-6 login-form">
        <form method="post" id="form">
            <h3 class="text-center mb-4">Регистрация</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'users:login' %}">Войти</a>
            <button type="submit" class="btn btn-dark" id="submit" disabled>Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock javascript %}