.header-photo {
  width: 40px;
  height: 40px;
  background-color: white;
  display: block;
  border-radius: 50%;
  margin-right: 1em;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
}

.login-form a {
  font-size: 14px;
  color: #6c757d;
  text-decoration: none;
}

.login-form a:hover {
  color: #4f555a;
  text-decoration: underline;
}

.login-form button {
  display: block;
  float: right;
}

.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.post img {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 0 1em 0 0;
}

.post a {
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

.post a:hover {
  color: #858585;
}

.post .data {
  display: block;
  margin-left: 3.5em;
  word-break: keep-all;
}

.user-list {
  margin-left: auto;
  margin-right: auto;
  background-color: #212529;
  max-width: 60%;
  padding: 1em 0 1.5em 2em;
}

.user-list img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-color: white;
  display: block;
  float: left;
  margin-right: 1em;
}

.user-list a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em 0 0 0;
}

.user-list a:hover {
  color: #858585;
}

@media (max-width: 992px) {
  .header-photo {
    margin-bottom: 1em;
  }
}