{% load static %}
{% load customtags %}

{% for post in posts %}
    <div class="post" id="post{{ post.pk }}">
        <a href="{{ post.user.get_url }}">
            <img src="{{ post.user.image|user_img }}" class="avatar"/>
        </a>
        <a href="{{ post.user.get_url }}">@{{ post.user }} </a>
        <small class="text-muted">{{ post.created_at|date:"d.m.Y, H:m:s" }}</small>
        {% if post.user == request.user %}
            <div class="float-end">
                <button type="button" class="btn-close btn-close-white delete-post" post="{{ post.pk }}"></button>
            </div>
        {% endif %}
        <div class="data">
            <p>{{ post.text }}</p>
            {% if post|user_liked:request.user %}
                <img src="{% static 'svg/liked.svg' %}" alt="" srcset="" class="like" post="{{ post.pk }}" id="likebtn{{ post.pk }}">
            {% else %}
                <img src="{% static 'svg/like.svg' %}" alt="" srcset="" class="like" post="{{ post.pk }}" id="likebtn{{ post.pk }}">
            {% endif %}
            <span id="count{{ post.pk }}">{{ post.likes.count }}</span>
        </div>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    </div>
{% empty %}
    <h1 class="text-center pt-4 pb-4">Тут пока ничего нет :(</h1>
{% endfor %}